<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="flex-container-justified-center">
      <nav class="nav-bar">
          <div class="nav-item-container">
            <%= link_to 'Home', root_path%>
            <%= link_to 'Create An Event!', new_event_path%>
          </div>

          <%if current_user%>
            <div class="nav-item-container">
              <%= link_to 'My Events', user_path(current_user)%>
              <%= link_to 'Log Out', destroy_user_session_path, method: :delete%>
            </div>
          <%else%>
            <div class="nav-item-container">
              <%= link_to 'Sign In', new_user_session_path%>
              <%= link_to 'Sign Up', new_user_registration_path%>
            </div>
          <%end%>
      </nav>
    </div>

    <div class="container">
      <%= yield %>
    </div>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
